@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetbrainsMono";
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

body {
    background-color: #222531;
}
