@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetbrainsMono";
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

body {
    background-color: rgb(34, 37, 49);
    background-size: 30px 30px;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.01) 0.4px,
            transparent 0.4px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.01) 0.4px,
            transparent 0.4px
        );
}
