@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetbrainsMono";
	src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "PoppinsBold";
	src: url("./assets/fonts/Poppins-Bold.ttf");
}

body::-webkit-scrollbar {
	display: none;
}

#tsp1 canvas,
#tsp2 canvas {
	position: absolute;
	z-index: 1;
}

#tsp1 {
	opacity: 0.5;
	z-index: 1;
}

#tsp2 {
	z-index: 1;
	opacity: 1;
}
